
<h4 class="empty" *ngIf="celebrationDetails.length === 0" (click)="onDashboard()">Fill User Details</h4>


<div class="grid" *ngIf="celebrationDetails.length > 0">
  <div class="grid-container">
  <table>
  <thead>
  <tr class="header">
    <th>Name<div>Name</div></th>
    <th>Date<div>Date</div></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let anni of celebrationDetails.reverse()">
      <td class="name">{{anni.name}}</td>
      <td [ngClass]="anni.doj === todayDate ? 'todayAnniversary': 'upcomingAnniversary'">{{anni.doj}}</td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>