.edit-btn{
    float: right;
    border: 1px solid green;
    margin: 20px;
}
.panel-heading {
    padding: 3px 0px 4px 0px;
    margin: 15px;
    border-bottom: 1px solid gray;
}

.nav-tabs{
    border-bottom: 1px solid gray;
}

.edit-btn:hover{
    background-color: green;
    color: white;
}