
<div class="container mt-0">
  <div class="row">
    
    <div class="col-xs-12">
      <div class="d-flex panel-heading">
        <i
          style="font-size: 25px; margin-right: 12px"
          class="bi bi-person-lines-fill"
        ></i>
        <h3>My Profile</h3>
      </div>

      <div class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <a class="nav-link" (click)="onBasic()">Basic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onTeam()">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onQualification()">Qualification</a>
        </li>
      </div>
      <div class="tab-content" style="padding: 1rem">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
