<mat-tab-group>
    <mat-tab label="News/Announcement">
      <div class="tab-gutters mt-3">
        <mat-card *ngFor="let news of newsDetails" style="margin: 2px;">
            <mat-card-header>
              <mat-card-title-group>
                <i class="bi bi-megaphone"></i>
                <mat-card-title>{{news.title}}</mat-card-title>
                <mat-card-subtitle>{{news.date | date}}</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              {{news.description}}
            </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
</mat-tab-group>
        
          
    