<mat-tab-group >
    <mat-tab label="News/Announcement">
      <div class="tab-gutters mt-3 card-text">
        <mat-card *ngFor="let news of newsDetails" style="margin: 2px;">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <i class="bi bi-megaphone icon"></i>
              <h5>{{ news.title }}</h5>
            </div>
            <mat-card-subtitle class="newsDate">{{ news.date | date }}</mat-card-subtitle>  
          </div>
          
          <mat-card-content>
            {{ news.description }}
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
</mat-tab-group>
