
<h4 class="empty" *ngIf="birthDetails.length === 0" (click)="onDashboard()">Fill User Details</h4>
<!-- <table id="table" class="tableFixHead" *ngIf="birthDetails.length > 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birth Date</th>
    </tr>
  </thead>
  <tbody id="tableBody">
    <tr *ngFor="let birth of birthDetails.reverse()">
        <td>{{birth.name}}</td>
        <td [ngClass]="birth.dob === todayDate ? 'todayBirth': 'upcomingBirth'">{{birth.dob}}</td>
    </tr>
  </tbody>
</table> -->


<div class="grid" *ngIf="birthDetails.length > 0">
  <div class="grid-container">
  <table>
  <thead>
  <tr class="header">
    <th>Name<div>Name</div></th>
    <th>Birth Date<div>Birth Date</div></th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let birth of birthDetails.reverse()">
      <td class="name">{{birth.name}}</td>
      <td [ngClass]="birth.dob === todayDate ? 'todayBirth': 'upcomingBirth'">{{birth.dob}}</td>
  </tr>
  </tbody>
  </table>
  </div>
  </div>