.icon{
    color: rgb(0, 238, 255);
    margin-left: 20px; 
    margin-right: 20px; 
    font-size: 40px;
}
.title{
    font-size: 25px;
    font-weight: bold;
}

.nav-link, .dropdown-item, .bi {
    cursor: pointer;
}

.bi{
    margin: 0 15px 0 15px;
}

.aside{
    background-color: #393839;
    position: fixed;
}

img{
    margin: 5px 20px 0 30px;
    font-size: larger;
}

@media (max-width: 900px) {
    .aside{
        position: relative;
    }
}

