.icon{
    color: rgb(0, 238, 255);
    margin-left: 20px; 
    margin-right: 20px; 
    font-size: 40px;
}
.title{
    font-size: 25px;
    font-weight: bold;
}


.header-content{
    background-color: #7385df;
    padding: 25px;
    color: white;
    margin: 0;
}

/* .header-content>h5{
    margin-left: 10px;
} */

.bi{
    margin: 0 15px 0 15px;
}