<nav class="navbar mb-5 navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <i class="bi bi-backpack3-fill icon"></i>
    <a class="navbar-brand title">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        
        
        <li class="nav-item dropdown">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle" style="font-size: 25px;"></i>
          </button>
          
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" *ngIf="!showButton" (click)="onDashboard()">Dashboard</a></li>
            <li><a class="dropdown-item" *ngIf="showButton" (click)="onHome()">Home</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
          </ul>
        </li>
      </ul>
      
      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
    <a style="color: white; margin-left: 20px; font-size: 20px; margin-right: 20px;" (click)="onDashboard()">Welcome {{username}}</a>
  </div>
</nav>
<router-outlet></router-outlet>