.search{
    float: right;
    width: 30%;
    margin: 8px 10px;
    box-sizing: border-box;
    border: 1px solid #7385df;
    border-radius: 4px;
    outline: none;
}

.gutters{
    padding-left: 24px;
    padding-right: 0;
}

.tab-gutters{
    padding-left: 24px;
    padding-right: 0;
    width: 100%;
}

.centerCard{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 900px) {
    .tab-gutters{
        padding-left: 0px;
        padding-right: 0;
    }
    
    .col-md-3{
        width: 0%;
    }
    .col-md-6{
        width: 100%;
    }
}
/* 
.bd-sidebar{
    grid-area: sidebar;
} */

/* @media (min-width: 992px){
    .bd-layout {
        display: grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 5fr;
        gap: 1.5rem;
    }
} */
