<div class="container-xxl">
  <div class="row gx-5">
    <div class="col-md-12">
      <app-card-stats></app-card-stats>
    </div>
    <div class="col-md-12 my-3">
      <app-performance></app-performance>
    </div>
    <div class="row gutters mb-3">
      <div class="col">
        <app-dsr></app-dsr>
      </div>
      <div class="col">
        <app-leave></app-leave>
      </div>
    </div>
    
    <mat-tab-group>
      
        <mat-tab label="BIRTHDAY">
          <div class="row tab-gutters">
            <div class="col-md-3"></div>
            <div class="col-md-6 mt-3"><app-birthday></app-birthday></div>  
          </div>
          
        </mat-tab>
        <mat-tab label="WORK ANNIVERSARY">
          <div class="row tab-gutters">
            <div class="col-md-3"></div>
            <div class="col-md-6 mt-3"><app-celebration></app-celebration></div>  
          </div>
        </mat-tab>
        <mat-tab label="CONTACT HR">
          <div class="row tab-gutters">
            <div class="col-md-3"></div>
            <div class="col-md-6 mt-3"><app-contact></app-contact></div>  
          </div>
        </mat-tab>
     
      
    </mat-tab-group>
    
    
  </div>
</div>
