<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h4 style="color: red">MY DSR</h4>
    <app-add-dsr>
      <i
        class="bi bi-patch-plus"
        style="font-size: 25px"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      ></i>
    </app-add-dsr>
  </div>
  
  <div class="card-body">
 
      <div class="d-flex justify-content-around">
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            id="lastdays"
            value="lastdays"
            [formControl]="selectDays"
          />
          <label class="form-check-label">Last 7 Days</label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            class="form-check-input"
            id="currentMonth"
            value="currentMonth"
            [formControl]="selectDays"
          />
          <label class="form-check-label">Current Month</label>
        </div>
      </div>
 
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <app-dsr-table></app-dsr-table>
      </div>
    </div>
  </div>
</div>
