<h4>{{ qualificationName }}</h4>


<!-- <div formArrayName="skills">
  <h4>Add Skills <span>*</span></h4>
  <div
    *ngFor="
      let control of loginForm.controls.skills['controls'];
      let i = index
    "
  >
    <input
      type="text"
      placeholder="Add skill..."
      class="form-control"
      [formControlName]="i"
    />
    <button type="button" (click)="DeleteSkills(i)">Delete</button>
  </div>
</div>
<button type="button" class="btn" (click)="AddSkills()">Add Skills</button
> -->