<div class="panel-heading-holiday row">
  <div class="col-md-4"></div>
  <div class="col-md-5 d-flex">
  <i class="bi bi-calendar2-check mx-2" style="font-size: 24px;"></i>
  <select
    class="form-select w-50 mx-2"
    aria-label="Default select example"
    [formControl]="holidayOrder"
  >
    <option hidden value="select">Select Order</option>
    <option *ngFor="let list of holidayList">{{ list.yearRange }}</option>
  </select>

  <button class="btn btn-sm btn-outline-success">Apply</button>
  <button class="btn btn-sm btn-outline-danger mx-2">Reset</button>
  
  </div>
  
</div>
