#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}



#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #7385df;
  color: white;
}

.pendingStatus{
  color: rgb(235, 125, 74);
  border: 1px solid rgb(235, 125, 74);
}

.completeStatus{
  color: green;
  border: 1px solid green;
}

.edit{
  color: green;
}

.tableFixHead { 
  width: 500px; 
  table-layout: fixed; 
  border-collapse: collapse; 
} 
  .tableFixHead tbody { 
  display: block; 
  width: 100%; 
  overflow: auto; 
  height: 200px; 
  margin-bottom: 12px;
} 
.tableFixHead thead tr { 
  display: block; 
} 
.tableFixHead th, 
.tableFixHead  td { 
  padding: 5px 10px; 
  width: 200px;
  font-size: 15px; 
} 
th { 
  background: #ABDD93; 
}


.empty{
  text-align: center;
  vertical-align: middle;
  line-height: 190px; 
  font-size: 35px;
  color: rgb(182, 135, 204);
  height: 227px;
  transform: rotate(340deg);
}


