<h4 class="empty" *ngIf="dsrTable.length === 0">Add DSR <app-add-dsr></app-add-dsr></h4>
<table id="table" class="tableFixHead" *ngIf="dsrTable.length>0">
  <thead>
    <tr>
      <th>Action</th>
      <th>DSR Date</th>
      <th>Total Timespent</th>
      <th>Pending hour</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody id="tableBody">
    <tr *ngFor="let dsr of dsrTable">
        <td class="edit"><i class="bi bi-pencil-square"></i></td>
        <td>{{dsr.date | date: 'mediumDate'}}</td>
        <td>{{dsr.timespent}} hours</td>
        <td>{{dsr.pendingHour}} seconds</td>
        <td [ngClass]="dsr.status === 'Pending' ? 'pendingStatus': 'completeStatus'">{{dsr.status}}</td>
    </tr>
  </tbody>
</table>
