<div class="container">

    <app-holiday-order></app-holiday-order>
    <hr>
    <table id="table">
    <thead>
        <tr>
        <th>Sr. No.</th>
        <th>Holiday Date</th>
        <th>Day</th>
        <th>Holiday Detail</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        <tr *ngFor="let holiday of (holidayDetails | slice: lowValue : highValue)">
            <td>{{holiday.srNo}}</td>   
            <td>{{holiday.holidayDate | date: 'mediumDate'}}</td>
            <td>{{holiday.holiday}}</td>
            <td>{{holiday.holidayName}}</td>
        </tr>
    </tbody>
    </table>     
    <mat-paginator #paginator [length]="holidayDetails.length"
              [pageSize]="pageSize"
              [pageIndex]="currentPage"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="onPageChanged($event)"
              showFirstLastButtons="true"
              aria-label="Select page"
              style="background-color: rgb(238, 238, 238);">
    </mat-paginator>
</div>

