.top-div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

span{
    color: red;
    font-weight: bold;
}

input.ng-touched.ng-invalid{
    border: 1px solid red;
}

input.ng-valid{
    border: 1px solid green;
}

small{
    color: red;
    font-weight: bold;
}

.card{
    border-radius: 20px;

    box-shadow: 5px 8px 10px 5px ;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("http://pms.btl.com/assets/img/photos/login_Background.jpg");
}
