
<div class="list-bar">
  <a [routerLink]="['/head/home']" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="currentLink"><i class="bi bi-box"></i>Dashboard</a>
  <a [routerLink]="['/head/policy']" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="currentLink"><i class="bi bi-receipt"></i>Policy</a>
  <a [routerLink]="['/head/dashboard']" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="currentLink"><i class="bi bi-person-bounding-box"></i>Employees</a>
  <a [routerLink]="['/head/dailystatusreportList']" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="currentLink"><i class="bi bi-check2-square"></i>Daily Status Report</a>
  <a [routerLink]="['/head/leave']" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="currentLink"><i class="bi bi-house-check"></i>Leave</a>
  <a [routerLink]="['/head/holiday']" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="currentLink"><i class="bi bi-house-door-fill"></i>Holiday</a>
  <a [routerLink]="['/head/inbox']" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="currentLink"><i class="bi bi-inbox"></i>Inbox</a>
</div>