.list-group-item{
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    background-color: #393839;
    color: white;
}

.list-group-item:hover{
    background-color: #5a5959;
}

.list-group-item:active{
    background-color: #ff4949;
}

.list-bar{
    position: sticky;
    height: 100vh;
    background-color: #393839;
}

.currentLink{
    background-color: #5e5d5e;
    animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:rgb(0, 174, 255); left:30px; top:0px;}
    100% {background-color:red; left:0px; top:0px;}
  }

.bi{
    margin: 0 15px 0 15px;
}

.header-content{
    background-color: #7385df;
    padding: 25px;
    color: white;
    margin: 0;
}

.menuBtn{
    background-color: #7385df;
    border-radius: 0;
    color: white;
}


.flex{
    flex: 1 30px;
}