<div class="flex">


  <button class="btn menuBtn d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive"><i class="bi bi-list"></i></button>
 
</div>
<div class="offcanvas-lg offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" style="font-size: 25px;" id="offcanvasResponsiveLabel"><img src="../../../assets/images/logo.png" alt="Logo">{{title}}</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="Close"></button>
  </div>
  <div class="mb-0">
    <img src="../../../assets/images/sidebar.jpg" class="sidebar" alt="sidebar_img">
    <div class="list-bar">
     
      <a [routerLink]="['/head/home']" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="currentLink"><i class="bi bi-box"></i>Dashboard</a>
      <a [routerLink]="['/head/policy']" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="currentLink"><i class="bi bi-receipt"></i>Policies</a>
      <a [routerLink]="['/head/dashboard']" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="currentLink"><i class="bi bi-person-bounding-box"></i>Employees</a>
      <a [routerLink]="['/head/dailystatusreport']" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="currentLink"><i class="bi bi-check2-square"></i>Daily Status Report</a>
      <a [routerLink]="['/head/leave']" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="currentLink"><i class="bi bi-house-check"></i>Leave</a>
      <a [routerLink]="['/head/holiday']" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="currentLink"><i class="bi bi-house-door-fill"></i>Holiday</a>
      <a [routerLink]="['/head/inbox']" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="currentLink"><i class="bi bi-inbox"></i>Inbox</a>
      <a [routerLink]="['/head/helpDesk']" class="list-group-item list-group-item-action list-group-item-light" routerLinkActive="currentLink"><i class="bi bi-ticket-perforated"></i>HelpDesk</a>
    </div>
   
  </div>
</div>