<div class="card">
    <div class="card-header d-flex justify-content-between">
      <h4 style="color: red">UPCOMING BIRTHDAY</h4>
    </div>
    
    <div class="card-body">
        <div class="d-flex justify-content-around">
            <i class="bi bi-caret-left-fill"></i>
            <h5>{{month}}</h5>
            <i class="bi bi-caret-right-fill"></i>
            
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
            
        </div>
      </div>
    </div>
  </div>
  