<div class="container">
    <div class="dark-cont">
    <table id="table">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Project Lead</th>
        </tr>
    </thead>
    
    <tbody id="tableBody">
        <tr>
            <td>Project Training</td>
            <td>Suhas Joyous</td>
        </tr>
    </tbody>
    </table>     
    <mat-paginator #paginator [length]="projectTeamDetails.length"
              [pageSize]="0"
              [pageIndex]="0"
              [pageSizeOptions]="[0]"
              showFirstLastButtons="true"
              aria-label="Select page"
              style="background-color: rgb(238, 238, 238);">
    </mat-paginator>
</div>
</div>

