<div class="container my-4">
    
 
    <div class="row d-flex justify-content-center">
        
        <div class="col-md-12">
            <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
            <div class="profile p-3">
                
                <div class="text-center position-relative">
                    <img src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" width="100" class="rounded-circle">
                    
                    <span class="position-absolute bottom-0 end-50 translate-middle p-2 bg-success border border-light rounded-circle">
                       
                      </span>
                      
                </div>
                
                
                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white"><ng-content select="[slot=role]"></ng-content></span>
                    <h5 class="my-3 mb-0"><ng-content select="[name]"></ng-content></h5>
                    <span><ng-content select="[email]"></ng-content></span>
                    <div class="px-4 my-3">
                        <p class="fonts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fugiat repellat dolor necessitatibus veritatis eius voluptas, vel, praesentium consequuntur placeat rem itaque sequi odit soluta pariatur? Architecto officia ut illo.</p>
                    
                    </div>
                    
                    <div class="social-list d-flex justify-content-center">
                        <i class="bi bi-twitter-x"></i>
                        <i class="bi bi-linkedin"></i>
                        <i class="bi bi-github"></i>
                        <i class="bi bi-microsoft-teams"></i>
                    </div>
                    
                    <div class="buttons">
                        <button class="btn btn-outline-primary px-4"><a href="">Message</a></button>
                        <button class="btn btn-primary px-4 ms-3"><a href="mailto:prateek@brainpayroll.co.uk" style="color: white;">Contact</a></button>
                    </div>
                    
                    
                </div>
                
               
                
                
            </div>
            
        </div>
        
    </div>
    
    
</div>
