input.ng-touched.ng-invalid{
    border: 1px solid red;
}

small{
    color: red;
    font-weight: bold;
}



.panel-heading {
    padding: 3px 0px 4px 0px;
    margin: 15px;
    border-bottom: 1px solid gray;
}

.bi{
    margin-right: 12px;
}

.bind{
    float: right;
    display: flex;
}

.edit-btn:hover{
    background-color: green;
    color: white;
}

.reset-btn{
    float: right;
    border: 1px solid red;
    color: red;
    margin: 10px;
}

.reset-btn:hover{
    background-color: red;
    color: white;
}

.edit-btn{
    float: right;
    border: 1px solid green;
    margin: 10px;
}


