<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form class="row g-3" [formGroup]="loginForm">
              <div class="d-flex panel-heading">
                <i class="bi bi-info-circle" style="font-size: 20px;"></i>
                <h4>About User</h4>
              </div>
                <div class="col-md-3">
                  <label for="name" class="form-label">Name: <span>*</span></label
                  ><br />
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter your name"
                    formControlName="name"
                  />
                  <small
                    *ngIf="loginForm.get('name')?.invalid && loginForm.get('name')?.touched"
                    >*Name is a required field.</small
                  >
                </div>
                <div class="col-md-3">
                  <label for="email" class="form-label">Email: <span>*</span></label
                  ><br />
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter your email"
                      formControlName="email"
                      aria-describedby="basic-addon2"
                    />
                    <span class="input-group-text" id="basic-addon2">@gmail.com</span>
                  </div>
              
                  <small
                    *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                    >*Entered Email is not valid.</small
                  >
                </div>
                <div class="col-md-3">
                  <label for="username" class="form-label">Username: <span>*</span></label>
                  <div class="input-group">
                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                    <input
                      type="text"
                      class="form-control"
                      aria-describedby="inputGroupPrepend2"
                      placeholder="Enter your username"
                      formControlName="username"
                    />
                  </div>
                  <small
                    *ngIf="
                      loginForm.get('username')?.invalid && loginForm.get('username')?.touched
                    "
                    >*Username is a required field.</small
                  >
                </div>
                <div class="col-md-3">
                  <label for="dob" class="form-label">D.O.B: <span>*</span></label>
                  <input
                    type="date"
                    class="form-control"
                    placeholder="Enter your date of birth"
                    formControlName="dob"
                  />
                  <small
                    *ngIf="loginForm.get('dob')?.invalid && loginForm.get('dob')?.touched"
                    >*D.O.B is a required field.</small
                  >
                </div>
                <div class="col-md-3">
                  <label for="gender" class="form-label">Gender: <span>*</span></label>
                  <div class="form-check">
                    <input
                      type="radio"
                      class="form-check-input"
                      id="check-male"
                      value="male"
                      formControlName="gender"
                    />
                    <label class="form-check-label">Male</label>
                  </div>
                  <div class="form-check mb-3">
                    <input
                      type="radio"
                      class="form-check-input"
                      id="check-female"
                      value="female"
                      formControlName="gender"
                    />
                    <label class="form-check-label">Female</label>
                  </div>
                </div>
                <div class="col-md-3">
                  <label for="department" class="form-label"
                    >Department: <span>*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter your department"
                    formControlName="department"
                  />
                  <small
                    *ngIf="
                      loginForm.get('department')?.invalid &&
                      loginForm.get('department')?.touched
                    "
                    >*Department is a required field.</small
                  >
                </div>
                <div class="col-md-3">
                  <label for="userRole" class="form-label">UserRole: <span>*</span></label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter your userRole"
                    formControlName="userRole"
                  />
                  <small
                    *ngIf="
                      loginForm.get('userRole')?.invalid && loginForm.get('userRole')?.touched
                    "
                    >*UserRole is a required field.</small
                  >
                </div>
                <div class="col-md-3">
                  <label for="doj" class="form-label"
                    >Date of Joining (D.O.J): <span>*</span></label
                  >
                  <input
                    type="date"
                    class="form-control"
                    placeholder="Enter Joining Date"
                    formControlName="doj"
                  />
                  <small
                    *ngIf="loginForm.get('doj')?.invalid && loginForm.get('doj')?.touched"
                    >*D.O.J is a required field.</small
                  >
                </div>
                <hr />
                <div class="d-flex panel-heading">
                  <i class="bi bi-envelope" style="font-size: 22px;"></i>
                  <h4>Contact Info</h4>
                </div>
                <div class="row g-3" formGroupName="address">
                  <label for="address">Address</label>
                  <div class="col-md-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter your street"
                      formControlName="street"
                    />
                  </div>
                  <div class="col-md-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter your city"
                      formControlName="city"
                    />
                    <small
                      *ngIf="
                        loginForm.get('address.city')?.invalid &&
                        loginForm.get('address.city')?.touched
                      "
                      >*City is a required field.</small
                    >
                  </div>
                  <div class="col-md-3">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter your State"
                      formControlName="state"
                    />
                    <small
                      *ngIf="
                        loginForm.get('address.state')?.invalid &&
                        loginForm.get('address.state')?.touched
                      "
                      >*State is a required field.</small
                    >
                  </div>
                  <div class="col-md-3">
                    <div class="mb-3">
                      <select
                        class="form-select"
                        name="country"
                        aria-label="select example"
                        formControlName="country"
                      >
                        <option hidden>Country</option>
                        <option value="india">India</option>
                        <option value="america">America</option>
                        <option value="japan">Japan</option>
                      </select>
                      <small
                        *ngIf="
                          loginForm.get('address.country')?.invalid &&
                          loginForm.get('address.country')?.touched
                        "
                        >*Country is a required field.</small
                      >
                    </div>
                  </div>
                  <div class="col-md-3">
                      <div class="input-group mb-3">
                          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">+91</button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item">+97</a></li>
                            <li><a class="dropdown-item">+81</a></li>
                            <li><a class="dropdown-item">+07</a></li>
                          </ul>
                          <input type="number" class="form-control" placeholder="Your Contact Number">
                        </div>
                  </div>
                </div>
                <br /><br />
                
              </form>
        </div>
    </div>
</div>

