<div class="card dark-card">
    <div class="card-header d-flex justify-content-between">
      <h4 style="color: red">WORK ANNIVERSARY</h4>
      <app-search>
        <i class="bi bi-search" style="font-size: 20px;" *ngIf="!on" (click)="onSearch()"></i>
    
        <div class="container" *ngIf="on">
            <div class="row d-flex">
                <div class="col-md-10">
                    <input type="text" class="form-control" [(ngModel)]="search" placeholder="Search" />
                </div>
                <div class="col-md-1"><i class="bi bi-x" *ngIf="on" (click)="Out()"></i></div>
                </div>
            </div>
      </app-search>
    </div>
    
    <div class="card-body">
        <div class="d-flex justify-content-around">
            <i class="bi bi-caret-left-fill" style="color: green;"></i>
            <h5 style="text-align: center; padding: 10px; color: brown;">{{month}}</h5>
            <i class="bi bi-caret-right-fill" style="color: green;"></i>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
            <app-celebration-table>
              <tr *ngFor="let anni of celebrationDetails.reverse() | filterSearch: search">
                <td class="name">{{anni.name}}</td>
                <td [ngClass]="anni.doj === todayDate ? 'todayAnniversary': 'upcomingAnniversary'">{{anni.doj | date: 'dd-MMM'}}</td>
            </tr>
            </app-celebration-table>
        </div>
      </div>
    </div>
  </div>
  