<h4 class="empty" *ngIf="leaveTable.length === 0">Work on Fire ! <app-leave-apply></app-leave-apply></h4>
<table id="table" class="tableFixHead" *ngIf="leaveTable.length>0">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Leave Count</th>
    </tr>
  </thead>
  <tbody id="tableBody">
    <tr *ngFor="let leave of leaveTable.reverse()">
        <td>{{leave.employeeName}}</td>
        <td>{{leave.startDate | date: 'mediumDate'}}</td>
        <td>{{leave.endDate | date: 'mediumDate'}}</td>
        <td>{{leave.leaveCount}}</td>
    </tr>
  </tbody>
</table>
