/* You can add global styles to this file, and also import other style files */

.nav-link, .dropdown-item, .bi {
    cursor: pointer;
}

body.dark-mode {
    background-color: #000000;
    color: white;
}
  
body.light-mode {
    background-color: #FFFFFF;
    color: black;
}

body.dark-mode .name{
    color: black;
}

body.dark-mode .icon{
    color: black;
}

body.dark-mode .newsDate{
    color: white;
}

body.dark-mode .dark-card {
    background-color: #2B2B2B;
    color: white;
    box-shadow: none;
    border: 1px solid white;
}

body.dark-mode .mat-card{
    background-color: #2B2B2B;
    color: white;
    box-shadow: none;
    border: 1px solid white;

}


body.dark-mode .ng-mat-form{
    background-color: white;
    color: black;
}

body.dark-mode #table tr {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

body.dark-mode #table tr:nth-child(even) {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

body.dark-mode .dark-btn{
    color: white;
}

body.dark-mode .mat-tab-label-content{
    color: white;
}

body.dark-mode .dark-modal{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

body.dark-mode .dark-cont{
    background-color: rgb(180, 180, 180);
    color: rgb(0, 0, 0);
}

.card{
    box-shadow: 5px 8px 10px 5px rgb(190, 190, 190);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.disable{
    background-color: rgb(224, 224, 224);
    color: rgb(77, 74, 74);
    border: 1px solid;
}

.spinner_overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 0.7;
    z-index: 999;
}

.header-content{
    border-radius: 5px;
    background-color: #7d8cd6;
    padding: 15px;
    color: white;
    margin: 0;
}

.asterik{
    color: red;
    font-weight: bold;
}

.modal-header{
    background-color: rgb(49,49,50); 
    color: white;
}




